html {
  overflow: scroll;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
.App {
  background-color: #ffffff;
}
.body {
  font-size: 14px;
  line-height: 1.5;
  color: #24292e;
}
.container {
  margin-top: 34px;
}
.container .container__wrapper {
  max-width: 1280px;
  margin: 0 auto;
  display: block;
}
@media (min-width: 768px) {
  .container .container__wrapper {
    display: flex;
  }
}
.left-panel {
  width: 100%;
  padding-right: 16px;
  padding-left: 16px;
}
.right-panel {
  width: 85%;
  margin: 0 auto;
  padding-right: 16px;
  padding-left: 16px;
}
@media (min-width: 768px) {
  .left-panel {
    width: 25%;
  }
}
@media (min-width: 768px) {
  .right-panel {
    width: 75%;
  }
}

.btn {
  position: relative;
  display: inline-block;
  padding: 5px 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid;
  border-radius: 6px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #24292e;
  background-color: #edeff2;
  box-shadow: inset 0 1px 0 rgba(225, 228, 232, 0.2);
  transition: none;
  border-color: rgba(27, 31, 35, 0.15);
}
[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}
button {
  cursor: pointer;
  border-radius: 0;
}

.btn-block {
  display: block;
  width: 100%;
  text-align: center;
}
